In [1]:
input_str = input("Enter a String: ")
remove_char= input("Enter characters to remove: ")
new_str = ''.join(char for char in input_str if char not in remove_char)
#new_str = input_str[:-2]
print("Result Str:", new_str[::-1])

Enter a String: Python
Enter characters to remove: ho
Result Str: ntyP

In [2]:
a=float(input("1st Number"))
b=float(input("2nd Number"))
print("Arithmetic Operations:")
print("Addition:", a+b)
print("Subtraction:", a-b)
print("Multiplication:",a*b)
print("Division:", a/b)

1st Number2
2nd Number4
Arithmetic Operations:
Addition: 6.0
Subtraction: -2.0
Multiplication: 8.0
Division: 0.5

In [3]:
input_str = input("Enter a sentence:")
parts = input_str.lower()
modified_str = parts.replace('python', 'pythons' )
print("Modified sentence:", modified_str)

Enter a sentence:I love playing with Python
Modified sentence: i love playing with pythons

In [4]:
score = float(input("Enter the marks: "))
if 90 <= score <= 100:
    grade = 'A'
elif 80 <= score < 90:
    grade = 'B'
elif 70 <= score < 80:
    grade = 'C'
elif 60 <= score < 70:
    grade = 'D'
elif 0 <= score < 60:
    grade = 'F'
else:
    grade = 'Invalid score'

print("Your grade is:", grade)

Enter the marks: 76
Your grade is: C